@import 'src/app/styles/reset';
@import "src/app/styles/variables/global";
@import "src/app/styles/themes/dark";
@import "src/app/styles/themes/light";

.app {
  font-size: var(--font-m);
  font-family: var(--font-family-main);
  background: var(--bg-color);
  color: var(--prymary-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}