.Button {
  cursor: pointer;
  color: var(--inverted-prymary-color);
  padding: 6px 15px;
}

.clear {
  padding: 0;
  color: var(--prymary-color);
  border: none;
  background: none;
  outline: none;
}

.clearInverted {
  padding: 0;
  color: var(--inverted-prymary-color);
  border: none;
  background: none;
  outline: none;
}

.outline {
  border: 1px solid var(--prymary-color);
  color: var(--prymary-color);
  background: none;
}

.background {
  background: var(--bg-color);
  color: var(--prymary-color);
  border: none;
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-prymary-color);
  border: none;
}

.square {
  padding: 0;
}

.square.sizeM {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.sizeL {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.sizeXL {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.sizeM {
  font: var(--font-m);
}

.sizeL {
  font: var(--font-l);
}

.sizeXL {
  font: var(--font-xl);
}
