.Button {
  cursor: pointer;
  color: var(--inverted-prymary-color);
}

.clear {
  padding: 0;
  color: var(--prymary-color);
  border: none;
  background: none;
  outline: none;
}

.outline {
  padding: 10px 15px;
  border: 1px solid var(--prymary-color);
  color: var(--prymary-color);
  background: none;
}
