@import 'reset';
@import "variables/global";
@import "themes/dark";
@import "themes/light";

.app {
  font-size: var(--font-m);
  background: var(--bg-color);
  color: var(--prymary-color);
  min-height: 100vh;
}