body,
.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;
  --prymary-color: #0232c2;
  --secondary-color: #0449e0;
  --inverted-prymary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
